@tailwind base;
@tailwind components;

@font-face {
  font-family: 'Ubuntu';
  src: url(../fonts/Ubuntu/Ubuntu-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url(../fonts/Ubuntu/Ubuntu-Medium.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url(../fonts/Ubuntu/Ubuntu-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter/Inter-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter/Inter-Medium.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter/Inter-SemiBold.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter/Inter-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

@tailwind utilities;

